
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

html,body{
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	display: table;/*cette ligne est tres importante elle permet aux blocs ou div d'occuper toute l'espace reservé*/

}
.inner{
	width: 95%;
	margin: auto;
}

div#banniere{
	
	background:url("images/machine.png")no-repeat left,url("images/drone.png")no-repeat 360px 0px,
	           url("images/panneau.png")no-repeat 720px 0px,url("images/hightech.png")no-repeat 1080px 0px;
	display:table; 
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	                                
margin-top:111px;
height: 100px;
border-radius: 5px;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 5px;

}

/********************** les elements du contenu de la page d'accueil*****************/
div#contenu {
	/*background: red;*/
	height: auto;
	position:relative;
	width: 100%;
	margin:10px;
	padding:10px;
}

div#contenu div{
	height: auto;
	margin-left:100px;
	display: inline-block; 
	position:relative;
	vertical-align: top; 
	float: left;
	width: 40%; 
}
  
 #contenu h3.title{
 	text-align: right;
 	padding-right:50px;
 }

.alerte{
 	float: right;
 }





/********************** les elements du contenu droit de la page d'accueil*****************/

div#contenu-droit  {
	width: 28%;        
background:white ;
     margin-left: 10px;  
     border-radius: 5px;
     border:groove;
     float: right;  /***** cette ligne pousse le bloc a droite ******/
}

 div#contenu-droit div{
 	width: 100%;
 	height:auto;
 	position: relative;
 }

div#les_auteurs{
     padding: 10px;
     margin: 0px;
 }
  div#les_auteurs h6.noms_des_auteurs{
text-align: center;
  }

div#les_auteurs img {
    border-radius: 40px; 
    margin-left: 30px;
     margin-right: 30px;
     
   
 }


  
 div#nous_joindre a{
  margin-left: 50px;
 	
 }

 h5.aside{
 	text-align: center;
 	font-size: 20px;
 	font-weight: bold;

 }
p.parole{
font-size: 12px;
text-align: justify;
}

       /********************** les elements du contenu gauche de la page d'accueil*****************/

div#contenu-gauche{
	background:white;
	width: 69.2%;  
	border:groove;
	 margin-left: 0px; 
	 margin-right:0px;

	 padding:40px; 
	 border-radius: 5px;
	 float: left;/***** cette ligne pousse le bloc a gauche ******/
}
 
 .grand_titre{
 	text-align: center;
 	color:#A63716;
 }
 p.presentation{
 	text-align: justify;
 }
.sous_titre{
	text-align: center;
	color:#03A9F4;
}
	
ul.taches li{
	text-align: justify;
	margin-left: 100px; 
}







 


