
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&display=swap');

html,body{
	font-family: 'Lato';
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	display: table;/*cette ligne est tres importante elle permet aux blocs ou div d'occuper toute l'espace reservé*/

}
.inner{
	width: 95%;
	margin: auto;
}

div#banniere{
	
	background:url("machine.png")no-repeat left,url("drone.png")no-repeat 360px 0px,
	           url("panneau.png")no-repeat 720px 0px,url("hightech.png")no-repeat 1080px 0px;
	display:table; 
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	                                
margin-top:111px;
height: 150px;
border-radius: 5px;
position: relative;
box-shadow: 0px 4px 4px #1c1a19;
margin-bottom: 5px;

}

/********************** les elements du contenu de la page d'accueil*****************/
div#contenu {
	/*background: red;*/
	height: auto;
	position:relative;
	width: 100%;
	margin: 0px;
	padding: 30px;
	float: center;
}



tr.header{
	background:#00E1FF;

}

th.main{
	padding:10px;

}

th.sub-info{
		padding:20px;

}
      



 


